<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <title>Rated R</title>
</head>
<body>
    <div id="navpage">
        <div id="close"><i class="ri-clos-line"></i></div>
        <div id="mobilelinks">
            <a href="/" class="link">HOME</a>
            <a href="/about" class="link">ABOUT</a>
            <a href="/events" class="link">GALLERY</a>
            <a href="/contact" class="link">CONTACT</a>
        </div>
    </div>
    <div id="header">
        <div id="overlay">
            <nav>
                <div id="logo">RATED R</div>
                <span id="hamburger"><i class="ri-menu-2-line"></i></span>
                <div id="links">
                    <a href="/" class="link">HOME</a>
                    <a href="/about" class="link">ABOUT</a>
                    <a href="/events" class="link">GALLERY</a>
                    <a href="/contact" class="link">CONTACT</a>
                </div>
            </nav>
            <h1>Music under your feet</h1>
        </div>
        <div id="about">
            <div id="aboutContent">
                <h2>A FEW WORDS
                    <span>ABOUT <span id="rated">RATED R</span></span>
                </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate animi perspiciatis aut ullam atque tenetur ea, accusantium sint molestias delectus voluptatibus dolorum? Quod nesciunt inventore aperiam reprehenderit saepe, maiores, laudantium tempora itaque ducimus optio id pariatur repudiandae provident ipsam dolor qui. Odit quisquam illo dolor non animi voluptas unde? Eveniet!
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit facere adipisci non ipsum, ut sit quod repellendus labore quis, ex nihil nisi voluptatem eveniet suscipit explicabo, illo necessitatibus error dolorem.</p>
                <a href="/contact">
                <button>BOOK NOW</button></a>
            </div>
            <div id="aboutImage"></div>
        </div>
    </div>
    <script src="/javascripts/script.js"></script>
</body>
</html>